body {
  text-align: center;
}

h1 {
  font-family: 'Montserrat-black', sans-serif; font-weight: 900;
}

h2 {
  font-family: 'Montserrat-black', sans-serif; font-weight: 900;
}

p{
  color: #8f8f8f;
  letter-spacing: 1px;
}

/* Homepage */

#homepage {
  background-color: #F1A208;
  padding: 3% 15% 7%;
}

.big-heading {
  text-align: left;
  font-size: 3.4rem;
  line-height: 1.3;
  color: #fff;
}

.home-image {
  padding-left: 50px;
  transform: rotate(25deg);

  width: 70%;
}

@media (max-width: 1028px) {

  .big-heading {
    text-align: center;
  }

  .home-image {
    width: 50%;
  }
}

/* navbar */

.navbar {
  padding-bottom: 4.5rem;

}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Features  */

#features {
  background-color: #EAEAEA;
  padding: 5% 15%;
}

.feature-heading {
  letter-spacing: .2rem;
  padding-bottom: 5%;
}

.features-img{
  width: 40%;
  padding-bottom: 4%;
}

/* catchphrase */

.catchphrase {
  background-color: #F1A208;
  padding: 5% 15%;
}


/* About Us */

#about-us {
  padding: 7% 15%;
  background-color: #050609;
  color: #fff;
}

.about-heading {
  padding-bottom: 7%;
}

.apc-image {
  width: 50%;
  border-radius: 100%;
}

.aboutus-desc {
  text-align: left;
}

/* Location */

#contact-us {
  padding: 4% 12% 0;
  background-color: #EAEAEA;
}

.links {
  padding: 0 3% 0;
}

.copyright {
  padding-top: 1%;
}

.cta-heading {
  padding-bottom: 5%;
}

.studies {
  color: black;
  font-size: 1.2rem;
  text-align: left;
  padding-top: 5%;
}

.diagram {
  width: 20%;
}
